{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./dist"
        ],
        "alias": {
          "vs": "./dist/vs"
        },
        "extensions": [
          ".js"
        ]
      }
    ]
  ]
}